* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header {

    background-color: var(--steel-blue);
    text-align: center;
    color: var(--white-color);
    padding: 30px 0;
}

.header h1 {
    font-weight: 400 !important;
}

.white-bg {
    background-color: var(--white-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.white-flex {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


.toggle {
    display: flex;
}

.toggle div {
    /* background-color: var(--steel-blue); */
    padding: 0 5px;
}

/* x */

.large-fs {
    font-size: var(--large-fz);
}

.white-flex {
    color: var(--steel-blue);
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: var(--smal-fs);
}

.active-btn {
    font-weight: 600;
    padding: 5px 3px;
    display: flex;
    align-items: center;
    transition: .4s;
}

.active-btn:hover {
    background-color: var(--steel-blue);
    color: var(--white-color);
    cursor: pointer;
}

.div-style {
    /* background-color: red; */
    /* width: 200px; */
    width: 30%;
    height: 190px;
    border-radius: 30px;
}

.main-content,
.main-content-2 {
    background-color: var(--dark-color);
    width: 40%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main-content {
    height: 600px;
}

.center-content {
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
}

.active-class {
    background-color: var(--steel-blue);
    color: var(--white-color);
}

.main-content div:hover,
.main-content-2 div:hover {
    cursor: pointer;
}

.main-content div,
.main-content-2 div {
    opacity: 1;
    transition: all .5s;
}

/* .main-content-2 {
    display: none;
}

.main-content {
    display: none;
} */
.content-display {
    display: none;
}

body {
    position: relative;
}

.loading-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.loading-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.comment {
    font-weight: 400;
    color: var(--black);
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #48c0c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ca75eb;
}